* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
  .navbar > .container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #680747;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #680747;
}

.navbar .navbar-header > a span {
  color: #680747;
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-header .logo {
  order: 1; 
  margin-left: 0px;
  margin-right: 10%; 
}


.navbar .navbar-header .logo img {
  max-width: 35%;
  height: auto;
  margin-right: 40%;
  
}
.navbar-notif {
  margin-left: 9%;
}
.navbar-notif img {
  height: 30px;
  border-radius: 50%;
}

.navbar-profile {
  margin-left: 3%;
  
}
.profile-link img { 
  height: 30px; 
  border-radius: 50%; 
}




.profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-menu .menu-item {
    padding: 10px;
    cursor: pointer;
}

.navbar-profile:hover .profile-menu {
    display: block;
}








     .form-style {
        padding: 15px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 4px;
        appearance: none; /* Remove default appearance */
        -webkit-appearance: none; /* Remove default appearance for webkit browsers */
        background-image: url('filter.png'); /* Set background image */
        
        background-size: 20px; /* Adjust size of the background image */
        background-repeat: no-repeat; /* Prevent repetition of background image */
        background-position: left ; 
        padding-left: 5x; /* Adjust padding to make space for the background image */
        padding-right: 10px;
        cursor: pointer;
    }
    .research-bar {
        display: flex;
        align-items: center;
        width: 600px; /* Adjust width as needed */
        margin: 50px;
        
    }
    .search-input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        margin-right: 10px;
    }
    .search-button {
        padding: 8px 12px;
        background-color: #6a31d3;
        color: #fff;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }

    .search-button img {
        width: 30px; /* Adjust size as needed */
        height: 30px; /* Adjust size as needed */
        vertical-align: middle; /* Align the image vertically */
    }
 .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150 px,1fr));
    gap: 0.25rem;
    margin-top: 1rem;


 }
.card{
border: 1px solid black;
background-color: white;
padding: .5rem ;



}
.card> .docname{

margin-bottom: .25rem;

}
.card >.body{
font-size: .8rem;


}

.hide{
display: none;


}
